{%extends "layout.html"%}

{%block content%}
<div class="text-center h1 my-5">sign up</div>
<div class="container my-5">
    <div class="">
        {%from "_formhelper.html" import render_field%}
        <form enctype="multipart/form-data">
            {{ render_field(form.username) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
            <p><input class="btn btn-info" type=submit value="sign up">
    </form>
    </div>
</div>

{%endblock content%}
